
<div class="col-sm-12">

  <div class="row">
      <div>

        <h1 class="classic-title">Choose your destination</h1>

      </div>
  </div>

  <div class="col-sm-12 row-first">
    <div class="row">
      <div id="controls" style="width:99%; height:250px;margin-top:5%;">
        <div class="row" style="margin-bottom:15px;">
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
              <div class="row">
                  <span>Description</span>
              </div>
              <div class="row">
                  <description class="col-sm-12" data-id="" id="data-description">

                  </description>
                </div>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
              <div class="row">
                  <span>Data</span>
              </div>
              <div class="row">
                <physics class="col-sm-12" data-id="" id="data-physics">

                </physics>
              </div>

          </div>
        </div>

      </div>
    </div>


    <div id="data" class="row">
      <div class="col-sm-8"  >
            <a ng-repeat="t in Page.targets" target class="col-sm-2 {{t.slug}} bodies-link" id="{{t.slug}}" ng-click="retrieveT(t);">{{t.name}}</a>
      </div>
        <div class="col-sm-4">
            <a class="btn btn-primary" id="design" title="go" ng-click="">Design Mission</a>
        </div>
    </div>



  </div>
</div>
