<div class="col-sm-12">

  <div class="row">
      <div class="col-sm-3">
          <span class="headers">Choose a destination</span>
      </div>
      <div class="col-sm-3">
          <span class="headers">Description</span>
      </div>
      <div class="col-sm-3">
          <span class="headers">Data</span>
      </div>

  </div>

  <div class="row">
      <div class="col-sm-3">
          <p target="{{t}}" ng-repeat="t in Page.targets" class="names {{t.slug}}" id="{{t.slug}}">{{t.name}}</p>
      </div>
      <div class="col-sm-3" id="description" ng-show="Page.highlight">
             <p>{{Page.highlight.characteristics}}</p>
      </div>
      <div class="col-sm-4" id="physics">

      </div>

  </div>

  <div class="row" id="alert">
     <div class="alert alert-error" ng-show="simError">
         &nbsp;
        <strong>Warning: </strong>
        <text> {{simError}}</text>
     </div>
  </div>

  <div class="row goals-row" style="display:none;margin-left: 0;" >
      <div class="col-sm-6">
          <div class="col-sm-6">
              <span class="headers" style="margin-left: -5px;">Choose a mission</span>
          </div>
          <div class="col-sm-6">
              <span class="headers">Mission&apos;s goal</span>
          </div>
      </div>
  </div>

  <div class="row goals-row" style="display:none;" id="goals-row">
      <div class="col-sm-6">
          <div class="row" style="margin-left:-15px;" ng-repeat="g in Page.goals">
              <div class="col-sm-6">
                <p goal="{{g}}" class="goals {{g.slug}}" id="{{g.slug}}">{{g.name}}</p>
              </div>
              <div class="col-sm-6">
                <p class="gdesc"> {{g.description}}</p>
              </div>
          </div>
      </div>

      <div class="col-sm-6">
          <div id="oval_parent">
            <div id="oval"  style="display: none;"></div>
          </div>
      </div>
  </div>

</div>


<style type="text/css">
    .row {
        margin-left:10px;
    }
    .headers {
        font-variant: small-caps;
        font-size: 14px;
        text-align:left;
        margin-bottom: 10px;
    }
    .names {
        font-size: 150%;
        cursor: pointer;
        width: auto;
    }
    #physics > div {
        font-size: 120%;
        margin-left:35px;
        position: absolute;
    }
    .goals {
        font-size: 160%;
        cursor: pointer;
    }
    .gdesc {
        font-size: 110%;
    }
    #alert {
        color: orangered;
        min-height: 75px;
        font-size: 14px;
    }
    #oval_parent{
        width:280px;
        height:280px;
        overflow:hidden;
    }

    #oval{
        width: 220px;
        height: 220px;
        margin: 0px 0 0 40px;
        -moz-border-radius: 46% ;
        -webkit-border-radius: 46% ;
        border-radius: 46% ;
    }
</style>