<div class="row">
    <div class="business-header jumbotron" style="margin-top:0px;border-round:25px;border:2px solid #000;">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <h1 class="text-center" style="padding-bottom:-5px;">Some Simple Steps</h1>

            <div class="row" style="">

            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h3 class="text-center" style="padding-bottom:-5px;">Targeting</h3>
            <p>Every mission starts by defining a target. Some missions, like Cassini for example, have visited and are visiting different celestial bodies,
                carrying scientific instruments (Payloads) wrapped into some high-technological supporting structure (Bus) providing movement,
                protection, communication and other utilities to make the mission successful in space.</p>
            <h3 class="text-center" style="padding-bottom:-5px;">Mission&apos;s Goal</h3>
            <p>Every mission needs some specific task to be accomplished, most of them have some kind of priorities in their schedule. Some missions
               last until the spacecraft&apos;s resilience; other spacecrafts can be deactivated after the job is done. Some vessels are used for orbiting
               a planet (satellites), or to drop payloads on the surface (orbiters), or to explore the surface (landers); some others just travel space or
               orbit Earth doing their tasks. One special spacecraft hosts or have hosted humans from every part of the world, that&apos; the ISS. </p>
            <h3 class="text-center" style="padding-bottom:-5px;">Payloads</h3>
            <p>When scientists go to space they have some really good reasons. Space missions are very expensive and they always try to maximize time to collect
               as much data as possible. Because of that the actual vector (the rocket) push outside Earth&apos;s orbit different arrays of very sensible and highly technological
               scientific instruments. Most of the experiments and data collection that can be done on Earth can be also done in space or on another planet.</p>
            <h3 class="text-center" style="padding-bottom:-5px;">Bus</h3>
            <p>The payloads need a lot of support to do their tasks: thermal regulation, data handling, cruising, communication, etc. The bus system and subsystem
               is what actually &apos;carry&apos; and move the weight of a spacecraft.</p>
            <h3 class="text-center" style="padding-bottom:-5px;">Got what you are interested in</h3>
            <p>Our Design Simulator let you decide many different details about what space mission you want to accomplish, and give ou interesting feedback
               about what you are interested in. True! <a href="/start">Try it out!</a></p>
        </div>
</div>
