{% extends "../testarea.html" %}

{% block body %}




<div class="row">
    <div class="col-md-8">
        <h4 align="left"><b>This is the network for one mission (Clementine) and one subject (19: "Spacecraft Instrumentation and Astrionics") on a total of fifty-tree in the taxonomy:</b></h4>
    </div>
    <div class="col-md-4">
        <p>
            Legend:
            <ul>
                <li>blue: dbpedia document</li>
                <li>red: keyword</li>
                <li>orange: event</li>
                <li>lilac: web pages</li>
                <li>pale-blue: missions</li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div id="diagram-1" class="col-md-12"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <p>Instructions:</p>
        <ul>
            <li>zoom with mouse-wheel</li>
            <li>on hover for node title</li>
            <li>click on node for first level relations</li>
            <li>click-and-drag to pan</li>
        </ul>
        <p id="infos"></p>
    </div>
</div>


<script src="/static/mockdata.js" charset="utf-8"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/forcednet.js" charset="utf-8"></script>

<style>
    .row{
        margin-bottom:2%;
    }
    .node {
        stroke: #fff;
        stroke-width: 1.5px;
    }
    .link {
        stroke: #999;
        stroke-opacity: .6;
    }
    div .tagsClass {
        float:left;
        width:99%;
        padding: 0 0;
    }
    #infos {
        margin-top:30px;
        padding-top:5px;
        color: #999;
        display:none;
        border-top: 1px dotted;
    }


</style>

{% end %}